/* bagian body */
body {
  background-color: purple;
}

header h1 {
  text-align: center;
  background-color: black;
  color: white;
}
.content1 p {
  color: black;
}

.box {
  width: 700px;
  height: 240px;
  padding: 10px;
  border: 5px solid #333;
  margin: 0 auto;
  background-color: #f0f0f0;
  text-align: center;
  margin-top: 20px;
}
