:root{
    --utama: #B31312;
    --bg: #010101;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'poppins', sans-serif;
    background-color: var(--bg) ;
    color: #fff;
}

/* navbar */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(1, 1, 1, 0.8);
    border-bottom: 1px solid var(--utama);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo{
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    font-family: "Pirata One", serif;
}

.navbar .navbar-logo span {
    color: #FA4032;
}

.navbar .navbar-nav a {
color: #fff;
display: inline-block;
font-size: 1rem;
margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: var(--utama);
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--utama);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

.navbar .navbar-extra a {
    color: #fff;
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
    color: var(--utama);
}

#hamburger-menu {
    display: none;
}


/* isian */
.isi {
    min-height: 100vh; 
    display: flex;
    align-items: center;
    background-image: url(https://scontent.xx.fbcdn.net/v/t1.15752-9/462577082_1243369403399248_2172209971617906014_n.jpg?stp=dst-jpg_p480x480_tt6&_nc_cat=104&ccb=1-7&_nc_sid=0024fc&_nc_ohc=_ueMlrguYHAQ7kNvgHTP2fk&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.xx&oh=03_Q7cD1QF2wpeT8MaABqAhmcjuWnNtjs1iCRY5RTWdmDJluwh9yA&oe=676E72C3);
    background-repeat: no-repeat;
    background-size: ;
    background-position: center;
    position: relative;
}

.isi::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(182, 165, 165, 0.267)3%
     rgba(196, 194, 194, 0.267)25%);
}
.isi .konten {
    padding: 1.4rem 7%;
    max-width: 60rem;
}

.isi .konten h1{
    font-size: 5em;
    color: #fff;
    line-height: 1;
}

.isi .konten h1 span {
    color: var(--utama);
}

.isi .konten p {
    font-size: 1.6rem;
    margin-top: 1rem;
    line-height: 1.4;
    mix-blend-mode: difference;
}

/* About Section */
.about, .career {
    padding: 10rem 7% 1.4rem;
}

.about, .career h2{
    font-size: 2.6rem;
    text-align: center;
    margin-bottom: 3rem;
}

.about, .career h2 span{
    color: var(--utama);
}

.about .row {
    display: flex;
}

.about .row .about-img{
    flex: 1 1 45rem;
}

.about .row .about-img img{
    width: 100%;
}

.about .row .konten{
    flex: 1 1 35rem;
    pad: 0 1rem;
}

.about .row .konten h3{
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.about .row .konten p{
    color: #fff;
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
    line-height: 1.6;
    font-weight: 100;
}

/* Karir Section */
.career p{
    text-align: justify;
    max-width: 80rem;
    margin: auto;
    font-size: 100;
    line-height: 1.6;
    
}

/* song section */
.song {
    padding: 10rem 7% 1.4rem;
}

.song h2{
    font-size: 2.6rem;
    text-align: center;
    margin-bottom: 3rem;
}

.song .list{
    display: flex;
}

/* footer */
footer{
    background-color: var(--utama);
    text-align: center;
    padding: 1rem 0 3rem;
    margin-top: 3rem;
}

footer .social{
padding: 1rem 0;
}

footer .social a{
    color:  #fff;
    margin: 1rem;
}

footer .social a:hover{
    color: var(--bg);
}

footer .links a:hover{
    color: var(--bg);
}

footer .links{
    margin-bottom: 1.4rem;
}

footer .links a{
    color: #fff;
    padding: 0.7rem 1rem;
}

footer .credit{
    font-size: 0.8rem;
}

footer .credit a{
    color: var(--bg);
    font-weight: 700;
}


/* Media Quaries */

/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}

/* Tablet */
@media (max-width: 758px) {
    html {
        font-size: 63%;
    }

#hamburger-menu {
    display: inline-block;
}

.navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
}

.navbar .navbar-nav.active{
right: 0;
}

.navbar .navbar-nav a{
    color: var(--bg);
    display: block;
    padding: 0.5rem;
    margin: 1.5rem;
    font-size: 2rem;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
}
.navbar .navbar-nav a::after {
    transform-origin: 0 0;
}

}

/* Mobile Phone */
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }
}
